.wp-sps-wrapper img.wp-post-image {
	float: left;
	margin: 0 1em 1em;
}

.wp-sps-wrapper .thumbs-wrapper{
	position:absolute;
}
.wp-sps-wrapper .thumbs-wrapper h3 {
	margin: 6px 0;
	padding: 0;
}
.wp-sps-wrapper .thumbs-wrapper .excerpt{
	margin-left: 2%;
	height: 250px;
	width: 96%;
	overflow: hidden;
}
.wp-sps-wrapper .thumbs-wrapper div.thumb-content p {
	margin: 4px 0;
}
.wp-sps-wrapper .thumbs-wrapper div.thumb-content {
	margin-top: 6px;
}

.wp-sps-wrapper .thumbs-wrapper .buttons{
	text-align:left
}
.wp-sps-wrapper .thumbs-wrapper .next{
	float:right
}
.wp-sps-wrapper .buttons {
	margin: 0;
	text-align:center;
	clear:both;
}
.wp-sps-wrapper .mask {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	position:relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

@media screen and(max-width: 859px) {
	div.sliderthumb {
		width: 92px;
	}
}
@media screen and(min-width: 860px) and(max-width: 979px) {
	div.sliderthumb {
		width: 120px;
	}
}
@media screen and(min-width: 980px) {
	div.sliderthumb {
		width: 150px;
	}
}
.thumbs{
	width:54px;
}
.thumbs div{
	display:block;
	width:54px;
	height:41px;
	margin:3px 0;
	cursor:pointer;
}

.thumbs div img{
	display:block;
	width:100%;
	height:100%;
	border:none
}

.info{
	width:240px;
	height:50px;
	background:#000;
	position:absolute;
}
.info p, .info h4{
	color:#fff;
	padding:3px 8px;
	font-family:Arial;
}
.info h4{
	font-size:14px;
}
.info h4 a{
	float:right;
	background:#fff;
	color:#000;
	font-size:10px;
	padding:0 3px;
	text-decoration:none
}
