<div class="wp-sps-wrapper" id="wp-sps-{{ id }}" data-options='{{jsonOptions|raw}}' data-images='{{jsonPosts|raw}}'>
  <p class='buttons above' id='some{{id}}'>
    {% for post in posts %}
      {% if options.bullet_style == 'number' %}
      <span class="numbered-btn number {% if loop.first %}active{% endif %}" data-idx="{{ loop.index }}">{{ loop.index }}</span>
      {% else %}
      {# <span class="numbered-btn bullet {% if loop.first %}active{% endif %}" data-idx="{{ loop.index }}"></span> #}
      {% endif %}
    {% endfor %}
  </p>
  <div class="mask">
    <div class="inner-mask"></div>
    <div class="thumbs-wrapper {{ options.direction }}">
    {% for post in posts %}<div class="excerpt">
        {% if loop.first %}
        <div class="thumb-image thumb-first">{{ post.thumbnail|raw }}</div>
        {% else %}
        <div class="thumb-image"><img id="{{ post.id }}" class="hidden" /></div>
        {% endif %}
      </div><!-- END excerpt -->{% endfor %}
    </div><!-- END thumbs-wrapper -->
  </div><!-- END mask -->
  <p class="buttons below">
    <span class="prev"><span class="icon-backward"></span></span>
    <span class="icon-stop"></span>
    <span class="icon-play2"></span>
    <span class="next"><span class="icon-forward2"></span></span>
  </p>
  {{numberedButtons}}
</div><!-- END sample8 -->