<div class="wp-sps-wrapper" id="wp-sps-{{ id }}" data-options='{{options|raw}}'>
  <p class='buttons' id='some{{id}}'>
    <span class="prev"><span class="icon-backward"></span></span>
    {% for post in posts %}
      <span class="numbered-btn" data-idx="{{ loop.index }}">{{ loop.index }}</span>
    {% endfor %}
    <span class="next"><span class="icon-forward2"></span></span>
  </p>
  <div class="mask">
    <div class="thumbs-wrapper">
    {% for post in posts %}
      <div class="excerpt">
        <h3><a href='{{post.permalink}}' title='{{ post.title|raw }}'>{{ post.title|raw }}</a></h3>
        <div class="thumb-image">{{ post.thumbnail|raw }}</div>
        <div class="thumb-content">{{ post.excerpt|raw }}</div>
      </div><!-- END excerpt -->
    {% endfor %}
    </div><!-- END thumbs-wrapper -->
  </div><!-- END mask -->
  <p class="buttons">
    <span class="icon-stop"></span>
    <span class="icon-play2"></span>
  </p>
  {{numberedButtons}}
</div><!-- END sample8 -->