<div class="wp-sps-wrapper" id="wp-sps-{{ id }}" data-options='{{jsonOptions|raw}}'>
  <p class='buttons' id='some{{id}}'>
    {% for post in posts %}
      {% if options.bullet_style == 'number' %}
      <span class="numbered-btn number {% if loop.first %}active{% endif %}" data-idx="{{ loop.index }}">{{ loop.index }}</span>
      {% else %}
      <span class="numbered-btn bullet {% if loop.first %}active{% endif %}" data-idx="{{ loop.index }}"></span>
      {% endif %}
    {% endfor %}
  </p>
  <div class="mask">
    <div class="thumbs-wrapper {{ options.direction }}">
    {% for post in posts %}
      <div class="excerpt">
        <h3><a href='{{post.permalink}}' title='{{ post.title|raw }}'>{{ post.title|raw }}</a></h3>
        {% if options.show_thumbs %}<div class="thumb-image">{{ post.thumbnail|raw }}</div>{% endif %}
        <div class="thumb-content">{{ post.excerpt|raw }}</div>
      </div><!-- END excerpt -->
    {% endfor %}
    </div><!-- END thumbs-wrapper -->
  </div><!-- END mask -->
  <p class="buttons">
    <span class="prev"><span class="icon-backward"></span></span>
    <span class="icon-stop"></span>
    <span class="icon-play2"></span>
    <span class="next"><span class="icon-forward2"></span></span>
  </p>
  {{numberedButtons}}
</div><!-- END sample8 -->